@import '../../extras/normalize.css.scss';

//
@mixin normalization-hashes {
  @include normalizations;

  *,
  *::before,
  *::after {
    box-sizing:               inherit;
  }

  html,
  body {
    margin:                   0;
    padding:                  0;
    height:                   100%;
  }

  html {
    box-sizing:               border-box;
  }

  body {
    min-width:                320px;
    overflow-x:               hidden;
  }
}
