/*
 * Header.
 */
$app-main-header-border-color: #eee;

/*
 * Blockquote tags.
 */
$blockquote-bg-color: #f9f9f9;
$blockquote-border-color: #ccc;
$blockquote-quote-color: #ccc;

/*
 * Footer colors.
 */
$app-main-footer-inverted-heading-color: #505050;
$app-main-footer-inverted-text-color: #828282;
$app-main-footer-inverted-link-color: #a1a1a1;
$app-main-footer-inverted-link-hover-color: #fff;
