[submodule "submodules/php-markdown"]
	path = submodules/php-markdown
	url = https://github.com/michelf/php-markdown
[submodule "submodules/parsedown"]
	path = submodules/parsedown
	url = https://github.com/erusev/parsedown
[submodule "submodules/parsedown-extra"]
	path = submodules/parsedown-extra
	url = https://github.com/erusev/parsedown-extra
[submodule "submodules/symfony-yaml"]
	path = submodules/symfony-yaml
	url = https://github.com/symfony/Yaml
