@mixin h-tag-hashes {
  // Defaults.

  %hash-h-tag-defaults {
    // Modifiers.

    @extend                   %hash-0-padding;
    @extend                   %hash-block-margins;
    @extend                   %hash-1-line-height;

    margin-top:               calc(2rem -  0.143em);

    > sub,
    > small {
      font-weight:            lighter;
    }

    > sub {
      @extend                 %hash-display-block;
      @extend                 %hash-opacity-75;

      margin:                .25em 0 0;

      //
      font-size:             .5em;
      font-feature-settings:  inherit;
    }
  }

  %hash-h1-tag-defaults {
    @extend                   %hash-body-h1-font-family;
    @extend                   %hash-body-h1-font-weight;

    font-size:                3.75rem;
  }

  %hash-h2-tag-defaults {
    @extend                   %hash-body-h2-font-family;
    @extend                   %hash-body-h2-font-weight;

    font-size:                2.85rem;
  }

  %hash-h3-tag-defaults {
    @extend                   %hash-body-hx-font-family;
    @extend                   %hash-body-hx-font-weight;

    font-size:                1.875rem;
  }

  %hash-h4-tag-defaults {
    @extend                   %hash-body-hx-font-family;
    @extend                   %hash-body-hx-font-weight;

    font-size:                1.563rem;
  }

  %hash-h5-tag-defaults {
    @extend                   %hash-body-hx-font-family;
    @extend                   %hash-body-hx-font-weight;

    font-size:                1.302rem;
  }

  %hash-h6-tag-defaults {
    @extend                   %hash-body-hx-font-family;
    @extend                   %hash-body-hx-font-weight;

    margin-bottom:            0;

    //
    font-size:                1.302rem;
    line-height:              $line-height;

    + * {
      margin-top:             0;
    }
  }

  %hash-h-tag-modifier-defaults {
    // Modifiers.

    &.\~block {
      @extend                 %hash-default-colors;
      @extend                 %hash-box-shadow-raise;
      @extend                 %hash-default-border-props;

      //
      line-height:            1em;
      border-width:           0 0 1px;

      //
      margin-left:           -.5em;
      margin-right:          -.5em;
      padding:               .25em .5em;

      > label {
        float:                right;
        margin-left:          1em;

        //
        font-size:           .5em;
        color:                inherit;
      }

      > code {
        @extend               %hash-inline-unmark-code;
      }
    }
  }

  // Headings.

  @if $apply-defaults {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend                 %hash-h-tag-defaults;
    }

    h1 {
      @extend                 %hash-h1-tag-defaults;
    }

    h2 {
      @extend                 %hash-h2-tag-defaults;
    }

    h3 {
      @extend                 %hash-h3-tag-defaults;
    }

    h4 {
      @extend                 %hash-h4-tag-defaults;
    }

    h5 {
      @extend                 %hash-h5-tag-defaults;
    }

    h6 {
      @extend                 %hash-h6-tag-defaults;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend                 %hash-h-tag-modifier-defaults;
    }
  }
}
