@mixin h-tag-hashes {
  // Defaults.

  %hash-h-tag-defaults {
    // Modifiers.

    @extend                   %hash-0-padding;
    @extend                   %hash-block-margins;
    @extend                   %hash-body-hx-font-family;
    @extend                   %hash-body-hx-line-height;

    // Set weight if not set by extender.
    @if $body-hx-font-weight-enforce != true {
      font-weight:            $body-hx-font-weight;
    }

    margin-top:               calc(2rem -  0.143em);

    > small {
      font-weight:            400;
    }

    > code {
      @extend                 %hash-inline-mark-monofance;
    }
  }

  %hash-h1-tag-defaults {
    @extend                   %hash-body-h1-font-family;
    @extend                   %hash-body-h1-line-height;

    // Set weight if not set by extender.
    @if $body-h1-font-weight-enforce != true {
      font-weight:            $body-h1-font-weight;
    }

    min-height:               1rem;
    font-size:                $body-h1-font-size;
  }

  %hash-h2-tag-defaults {
    @extend                   %hash-body-h2-font-family;
    @extend                   %hash-body-h2-line-height;

    // Set weight if not set by extender.
    @if $body-h2-font-weight-enforce != true {
      font-weight:            $body-h2-font-weight;
    }

    font-size:                $body-h2-font-size;
  }

  %hash-h3-tag-defaults {
    font-size:                1.777em;
  }

  %hash-h4-tag-defaults {
    font-size:                1.333em;
  }

  %hash-h5-tag-defaults {
    font-size:                1em;
  }

  %hash-h6-tag-defaults {
    font-size:                1em;
    margin-top:               1rem;
    line-height:              $line-height;
  }

  %hash-h-tag-modifier-defaults {
    // Modifiers.

    &.\~block {
      @extend                 %hash-default-colors;
      @extend                 %hash-box-shadow-raise;
      @extend                 %hash-default-border-props;

      //
      line-height:            1em;
      border-width:           1px;

      //
      margin-left:           -.5em;
      margin-right:          -.5em;
      padding:               .5em .75em;

      > label {
        float:                right;
        margin-left:          1em;

        //
        font-size:           .5em;
        color:                inherit;
      }
    }
  }

  // Headings.

  @if $apply-defaults {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend                 %hash-h-tag-defaults;
    }

    h1 {
      @extend                 %hash-h1-tag-defaults;
    }

    h2 {
      @extend                 %hash-h2-tag-defaults;
    }

    h3 {
      @extend                 %hash-h3-tag-defaults;
    }

    h4 {
      @extend                 %hash-h4-tag-defaults;
    }

    h5 {
      @extend                 %hash-h5-tag-defaults;
    }

    h6 {
      @extend                 %hash-h6-tag-defaults;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend                 %hash-h-tag-modifier-defaults;
    }
  }
}
