@mixin list-tag-hashes {
  // Defaults.

  %hash-list-defaults {
    @extend                   %hash-block-margins;
  }

  %hash-list-ol-defaults {
    list-style-type:          decimal;

    > li > ol {
      list-style-type:        lower-alpha;

      > li > ol {
        list-style-type:      lower-roman;

        ol {
          list-style-type:    circle;
        }
      }
    }
  }

  %hash-list-ul-defaults {
    list-style-type:          disc;

    > li > ul {
      list-style-type:        circle;

      > li > ul {
        list-style-type:      disc;

        ul {
          list-style-type:    circle;
        }
      }
    }
  }

  %hash-list-dt-defaults {
    font-weight:              700;

    > small {
      font-weight:            400;
    }

    > code:first-child {
      @extend                 %hash-inline-mark-monofance;
    }
  }

  %hash-list-li-dd-defaults {
    > p,
    > div,
    > pre,
    > table,
    > video,
    > iframe,
    > figure,
    > blockquote,
    > a-block,
    > a-brick,
    > a-flex,
    > a-note,
    > a-tile {
      &:last-child {
        margin-bottom:        1rem;
      }
    }

    // Add margin to nested lists too.
    // ~ but only if they follow something.
    > ol,
    > ul,
    > dl {
      &:last-child:not(:only-child) {
        margin-bottom:        1rem;
      }
    }

    // Exclude & fit nested link lists.
    // These follow a link, nothing more.
    > a:first-child:only-of-type {
      + ol,
      + ul {
        &:nth-child(2):last-child {
          margin-top:         0;
          margin-bottom:      0;
        }
      }
    }
  }

  // Lists.

  @if $apply-defaults {
    ol,
    ul,
    dl {
      @extend                 %hash-list-defaults;
    }

    ol {
      @extend                 %hash-list-ol-defaults;
    }

    ul {
      @extend                 %hash-list-ul-defaults;
    }

    dt {
      @extend                 %hash-list-dt-defaults;
    }

    li,
    dd {
      @extend                 %hash-list-li-dd-defaults;
    }
  }
}
