@mixin list-tag-hashes {
  // Defaults.

  %hash-list-defaults {
    @extend                   %hash-block-margins;
  }

  %hash-list-ol-ul-defaults {
    padding:                  0 0 0 2rem;
  }

  %hash-list-ol-defaults {
    list-style-type:          decimal;

    > li > ol {
      list-style-type:        lower-alpha;

      > li > ol {
        list-style-type:      lower-roman;

        ol {
          list-style-type:    circle;
        }
      }
    }
  }

  %hash-list-ul-defaults {
    list-style-type:          disc;

    > li > ul {
      list-style-type:        circle;

      > li > ul {
        list-style-type:      disc;

        ul {
          list-style-type:    circle;
        }
      }
    }
  }

  %hash-list-dl-defaults {
    > dd > dl {
      font-size:             .9em;
    }
  }

  %hash-list-dt-defaults {
    font-weight:              500;

    > small {
      font-weight:            400;
    }

    > code:first-child {
      @extend                 %hash-inline-unmark-code;
    }
  }

  %hash-list-li-dd-defaults {
    > p,
    > div,
    > pre,
    > table,
    > video,
    > iframe,
    > figure,
    > blockquote,
    > a-block,
    > a-brick,
    > a-flex,
    > a-note,
    > a-tile {
      &:last-child {
        margin-bottom:        1rem;
      }
    }

    > ol,
    > ul,
    > dl {
      &:last-child:not(:only-child) {
        margin-bottom:        1rem;
      }
    }
  }

  %hash-list-li-defaults {
    > a:first-child:only-of-type {
      + ol,
      + ul {
        &:nth-child(2):last-child {
          margin-top:         0;
          margin-bottom:      0;
        }
      }
    }
  }

  %hash-list-dd-defaults {
    margin-left:              1rem;
  }

  // Lists.

  @if $apply-defaults {
    ol,
    ul,
    dl {
      @extend                 %hash-list-defaults;
    }

    ol,
    ul {
      @extend                 %hash-list-ol-ul-defaults;
    }

    ol {
      @extend                 %hash-list-ol-defaults;
    }

    ul {
      @extend                 %hash-list-ul-defaults;
    }

    dl {
      @extend                 %hash-list-dl-defaults;
    }

    dt {
      @extend                 %hash-list-dt-defaults;
    }

    li,
    dd {
      @extend                 %hash-list-li-dd-defaults;
    }

    li {
      @extend                 %hash-list-li-defaults;
    }

    dd {
      @extend                 %hash-list-dd-defaults;
    }
  }
}
