/*
 * `<pre>`, `<code>` and other monospace tags.
 */
@mixin monospace-styles(
  $pre-bg-color: #f8f8f8,

  $code-color: #0f0f0f,
  $code-bg-color: #f9f9f9,
  $code-border-color: #ececec,
  $code-text-shadow-color: #fff,

  $kbd-color: #666,
  $kbd-bg-color: #fff,
  $kbd-box-shadow-color1: rgba(0, 0, 0, 0.75),
  $kbd-box-shadow-color2: #fff
) {
  pre,
  code,
  samp,
  kbd,
  tt {
    font-family:              'Hack', 'Menlo', 'Monaco', 'Consolas', 'Andale Mono', 'DejaVu Sans Mono', monospace;
  }

  kbd,
  samp,
  code {
    line-height:              1;
    font-size:               .875em;
    white-space:              nowrap;

    //
    margin:                   0 .15em;
    padding:                 .2em .4em;
    display:                  inline-block;

    //
    color:                    $code-color;
    text-shadow:              0 1px 0 $code-text-shadow-color;

    //
    box-shadow:               none;
    border-radius:           .15em;
    background:               $code-bg-color;
    border:                   1px solid $code-border-color;
  }

  a {
    kbd,
    samp,
    code {
      color:                  inherit;
    }
  }

  pre {
    padding:                  1em;
    border-radius:           .25em;
    background:               $pre-bg-color;
  }

  tt {
    margin:                   0;
    padding:                  0;
    border:                   0;
    background:               none;
  }

  kbd {
    color:                    $kbd-color;
    background:               $kbd-bg-color;
    box-shadow:               0 1px 0 $kbd-box-shadow-color1, 0 0 0 2px $kbd-box-shadow-color2 inset;
  }
}
