@import '../tools/responsive';

/*
 * Align utils.
 */
@mixin align-utils {
  ._left {
    text-align:               left !important;
  }

  ._float_left,
  ._pull_left,
  ._yank_left {
    float:                    left !important;
  }

  ._pull_left {
    margin-right:             1em !important;
    margin-bottom:            1em !important;
  }

  ._yank_left {
    margin-right:             2em !important;
    margin-bottom:            2em !important;
  }

  ._center:not([class*='_center _if_stacked']) {
    text-align:               center !important;
  }

  @include mobile-only {
    .ui.stackable.grid._center._if_stacked[class*='_center _if_stacked'] {
      > .row > .column,
      > .column {
        text-align:           center !important;
      }
    }

    .ui.stackable.grid {
      > .row._center._if_stacked[class*='_center _if_stacked'] > .column,
      > .row > .column._center._if_stacked[class*='_center _if_stacked'],
      > .column._center._if_stacked[class*='_center _if_stacked'] {
        text-align:           center !important;
      }
    }

    .ui.form._center._if_stacked[class*='_center _if_stacked'] {
      > .fields > .field,
      > .field {
        text-align:           center !important;
      }
    }

    .ui.form {
      > .fields._center._if_stacked[class*='_center _if_stacked'] > .field,
      > .fields > .field._center._if_stacked[class*='_center _if_stacked'],
      > .field._center._if_stacked[class*='_center _if_stacked'] {
        text-align:           center !important;
      }
    }
  }

  ._centered:not([class*='_centered _if_stacked']) {
    margin-left:              auto !important;
    margin-right:             auto !important;
  }

  @include mobile-only {
    .ui.stackable.grid {
      > .row > .column > ._centered._if_stacked[class*='_centered _if_stacked'],
      > .column > ._centered._if_stacked[class*='_centered _if_stacked'] {
        margin-left:          auto !important;
        margin-right:         auto !important;
      }
    }

    .ui.form {
      > .fields > .field > ._centered._if_stacked[class*='_centered _if_stacked'],
      > .field > ._centered._if_stacked[class*='_centered _if_stacked'] {
        margin-left:          auto !important;
        margin-right:         auto !important;
      }
    }
  }

  ._right {
    text-align:               right !important;
  }

  ._float_right,
  ._pull_right,
  ._yank_right {
    float:                    right !important;
  }

  ._pull_right {
    margin-left:              1em !important;
    margin-bottom:            1em !important;
  }

  ._yank_right {
    margin-left:              2em !important;
    margin-bottom:            2em !important;
  }
}
