@import '../tools/responsive';

/*
 * Align utils.
 */
@mixin align-utils {
  /*
   * Floats.
   */
  .icon {
    &._float,
    &._push,
    &._pull,
    &._yank {
      // Zero-out existing & set below.
      margin-left:            0 !important;
      margin-right:           0 !important;
    }
  }

  .alignleft,
  img[align='left'],
  ._float[class*='_float _left'],
  ._push[class*='_push _left'],
  ._pull[class*='_pull _left'],
  ._yank[class*='_yank _left'] {
    float:                    left !important;
  }

  ._push[class*='_push _left'],
  ._pull[class*='_pull _left'] {
    margin-right:             1rem !important;
  }

  ._pull[class*='_pull _left'] {
    margin-bottom:            1rem !important;
  }

  .alignleft,
  img[align='left'],
  ._yank[class*='_yank _left'] {
    margin-right:             2rem !important;
    margin-bottom:            2rem !important;
  }

  .alignright,
  img[align='right'],
  ._float[class*='_float _right'],
  ._push[class*='_push _right'],
  ._pull[class*='_pull _right'],
  ._yank[class*='_yank _right'] {
    float:                    right !important;
  }

  ._push[class*='_push _right'],
  ._pull[class*='_pull _right'] {
    margin-left:              1rem !important;
  }

  ._pull[class*='_pull _right'] {
    margin-bottom:            1rem !important;
  }

  .alignright,
  img[align='right'],
  ._yank[class*='_yank _right'] {
    margin-left:              2rem !important;
    margin-bottom:            2rem !important;
  }

  /*
   * Vertical.
   */
  ._valign {
    &[class*='_valign _top'] {
      vertical-align:         top !important;
    }

    &[class*='_valign _middle'] {
      vertical-align:         middle !important;
    }

    &[class*='_valign _bottom'] {
      vertical-align:         bottom !important;
    }
  }

  /*
   * Flex alignments.
   */
  ._align {
    /*
     * All flex items.
     */
    &[class*='_align _flex_start'] {
      align-items:            flex-start !important;
    }

    &[class*='_align _flex_center'] {
      align-items:            center !important;
    }

    &[class*='_align _flex_end'] {
      align-items:            flex-end !important;
    }

    /*
     * Individual flex items.
     */
    &[class*='_align _self _flex_start'] {
      align-self:             flex-start !important;
    }

    &[class*='_align _self _flex_center'] {
      align-self:             center !important;
    }

    &[class*='_align _self _flex_end'] {
      align-self:             flex-end !important;
    }
  }

  /*
   * Horizontal.
   */
  ._align {
    /*
     * NOTE: These are listed in order of priority.
     * Specific device constraints take precedence over
     * things like handheld, computer, and small screen only.
     *
     * NOTE: Grid centering takes precedence, simply because
     * the selectors are more specific; i.e., `.ui.grid`, etc.
     * This behavior is desirable, so don't change it.
     */
    &[class*='_align _left'] {
      &:not([class*='_align _left _when _']) {
        text-align:           left !important;
      }
    }

    &[class*='_align _right'] {
      &:not([class*='_align _right _when _']) {
        text-align:           right !important;
      }
    }

    &[class*='_align _center'] {
      &:not([class*='_align _center _when _']) {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _justify'] {
      text-align:             justify !important;
    }

    &[class*='_align _left _when _handheld']:not(#x) {
      @include handheld-only {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _handheld']:not(#x) {
      @include handheld-only {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _handheld']:not(#x) {
      @include handheld-only {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _left _when _computer']:not(#x) {
      @include computer-only {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _computer']:not(#x) {
      @include computer-only {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _computer']:not(#x) {
      @include computer-only {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _left _when _small _screen']:not(#x) {
      @include small-screen-only {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _small _screen']:not(#x) {
      @include small-screen-only {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _small _screen']:not(#x) {
      @include small-screen-only {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _left _when _mobile']:not(#x) {
      @include mobile-device {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _mobile']:not(#x) {
      @include mobile-device {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _mobile']:not(#x) {
      @include mobile-device {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _left _when _tablet']:not(#x) {
      @include tablet-device {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _tablet']:not(#x) {
      @include tablet-device {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _tablet']:not(#x) {
      @include tablet-device {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _left _when _large _screen']:not(#x) {
      @include large-screen-device {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _large _screen']:not(#x) {
      @include large-screen-device {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _large _screen']:not(#x) {
      @include large-screen-device {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }

    &[class*='_align _left _when _widescreen']:not(#x) {
      @include widescreen-device {
        text-align:           left !important;
      }
    }

    &[class*='_align _right _when _widescreen']:not(#x) {
      @include widescreen-device {
        text-align:           right !important;
      }
    }

    &[class*='_align _center _when _widescreen']:not(#x) {
      @include widescreen-device {
        text-align:           center !important;

        &.ui.grid > .row > .column,
        &.ui.grid > .column,
        &.row > .column {
          text-align:         center !important;
        }
      }
    }
  }

  /*
   * Centered.
   */
  ._centered {
    &:not([class*='_centered _when _']) {
      @include centered(true);
    }

    &[class*='_centered _when _handheld']:not(#x) {
      @include handheld-only {
        @include centered-conversion(true);
      }
    }

    &[class*='_centered _when _computer']:not(#x) {
      @include computer-only {
        @include centered-conversion(true);
      }
    }

    &[class*='_centered _when _small _screen']:not(#x) {
      @include small-screen-only {
        @include centered-conversion(true);
      }
    }

    &[class*='_centered _when _mobile']:not(#x) {
      @include mobile-device {
        @include centered-conversion(true);
      }
    }

    &[class*='_centered _when _tablet']:not(#x) {
      @include tablet-device {
        @include centered-conversion(true);
      }
    }

    &[class*='_centered _when _large _screen']:not(#x) {
      @include large-screen-device {
        @include centered-conversion(true);
      }
    }

    &[class*='_centered _when _widescreen']:not(#x) {
      @include widescreen-device {
        @include centered-conversion(true);
      }
    }
  }

  .aligncenter {
    @include centered-conversion(true);
  }
}
