/*
 * Border utils.
 */
@mixin border-utils {
  ._b {
    border-width:             0;
    border-style:             solid;
    border-color:             $silver-color;

    /*
     * All.
     */
    &[class*='_b _0u'] {
      border-width:           0 !important;
    }

    &[class*='_b _1x'] {
      border-width:           1px !important;
    }

    &[class*='_b _2x'] {
      border-width:           2px !important;
    }

    &[class*='_b _3x'] {
      border-width:           3px !important;
    }

    /*
     * Top.
     */
    &[class*='_b _t0u'] {
      border-top-width:       0 !important;
    }

    &[class*='_b _t1x'] {
      border-top-width:       1px !important;
    }

    &[class*='_b _t2x'] {
      border-top-width:       2px !important;
    }

    &[class*='_b _t3x'] {
      border-top-width:       3px !important;
    }

    /*
     * Right.
     */
    &[class*='_b _r0u'] {
      border-right-width:     0 !important;
    }

    &[class*='_b _r1x'] {
      border-right-width:     1px !important;
    }

    &[class*='_b _r2x'] {
      border-right-width:     2px !important;
    }

    &[class*='_b _r3x'] {
      border-right-width:     3px !important;
    }

    /*
     * Bottom.
     */
    &[class*='_b _b0u'] {
      border-bottom-width:    0 !important;
    }

    &[class*='_b _b1x'] {
      border-bottom-width:    1px !important;
    }

    &[class*='_b _b2x'] {
      border-bottom-width:    2px !important;
    }

    &[class*='_b _b3x'] {
      border-bottom-width:    3px !important;
    }

    /*
     * Left.
     */
    &[class*='_b _l0u'] {
      border-left-width:      0 !important;
    }

    &[class*='_b _l1x'] {
      border-left-width:      1px !important;
    }

    &[class*='_b _l2x'] {
      border-left-width:      2px !important;
    }

    &[class*='_b _l3x'] {
      border-left-width:      3px !important;
    }

    /*
     * Horizontal.
     */
    &[class*='_b _h0u'] {
      border-left-width:      0 !important;
      border-right-width:     0 !important;
    }

    &[class*='_b _h1x'] {
      border-left-width:      1px !important;
      border-right-width:     1px !important;
    }

    &[class*='_b _h2x'] {
      border-left-width:      2px !important;
      border-right-width:     2px !important;
    }

    &[class*='_b _h3x'] {
      border-left-width:      3px !important;
      border-right-width:     3px !important;
    }

    /*
     * Vertical.
     */
    &[class*='_b _v0u'] {
      border-top-width:       0 !important;
      border-bottom-width:    0 !important;
    }

    &[class*='_b _v1x'] {
      border-top-width:       1px !important;
      border-bottom-width:    1px !important;
    }

    &[class*='_b _v2x'] {
      border-top-width:       2px !important;
      border-bottom-width:    2px !important;
    }

    &[class*='_b _v3x'] {
      border-top-width:       3px !important;
      border-bottom-width:    3px !important;
    }
  }

  /*
   * Radius.
   */
  ._rounded {
    border-radius:           .25em !important;

    &[class*='_very _rounded'] {
      border-radius:         .5em !important;
    }
  }

  ._circular {
    border-radius:            50% !important;
  }
}
