/*
 * Color utils.
 */
@mixin color-utils {
  ._c {
    &[class*='_c _inverted'] {
      color:                  $sm-inverted-color !important;
    }

    &[class*='_c _fill _current'] {
      fill:                   currentColor !important;
    }
  }

  ._bc {
    &[class*='_bc _inverted'] {
      background-color:       $sm-inverted-bg-color !important;
    }
  }
}
