/*
 * Content utils.
 */
@mixin content-utils {
  ._content {
    @if $_content-font-family != '' {
      font-family:            $_content-font-family;

      .text {
        font-family:          $_content-font-family;
      }
    }

    @if $_content-heading-font-family != '' {
      h2,
      h3,
      h4,
      h5,
      .header {
        font-family:          $_content-heading-font-family;
      }
    }

    @if $_content-pfot-font-family != '' {
      > p:first-of-type:not([class]) {
        font-size:            1.25em;
        font-family:          $_content-pfot-font-family;
      }
    } @else {
      > p:first-of-type:not([class]) {
        font-size:            1.25em;
        font-family:          $georgia;
      }
    }
  }
}
