/*
 * Content utils.
 */
@mixin content-utils {
  ._content {
    font-family:              $content-font-family;

    .text {
      font-family:            $content-font-family;
    }

    h2,
    h3,
    h4,
    h5,
    .header {
      font-family:            $content-heading-font-family;
    }

    > p:first-of-type:not([class]) {
      font-size:              1.25em;
      font-family:            $content-lede-font-family;
    }
  }
}
