/*
 * Disabled utils.
 */
@mixin disabled-utils {
  ._disabled:not([class*='_disabled _on_hover']),
  ._disabled._on_hover[class*='_disabled _on_hover']:hover {
    opacity:                  0.5 !important;
    cursor:                   not-allowed !important;

    * {
      cursor:                 not-allowed !important;
    }
  }

  ._very._disabled[class*='_very _disabled']:not([class*='_disabled _on_hover']),
  ._very._disabled._on_hover[class*='_very _disabled _on_hover']:hover {
    opacity:                  0.25 !important;
    cursor:                   not-allowed !important;

    * {
      cursor:                 not-allowed !important;
    }
  }

  ._disabled._not_on_hover[class*='_disabled _not_on_hover']:hover {
    // NOTE: This is problematic. There's simply no way to guarantee
    // that we are actually reverting to the originally defined styles.
    opacity:                  1 !important;
    cursor:                   initial !important;

    * {
      cursor:                 initial !important;
    }
  }
}
