/*
 * Disabled utils.
 */
@mixin disabled-utils {
  ._disabled {
    &:not([class*='_disabled _on _']),
    &[class*='_disabled _on _hover']:hover {
      opacity:                0.5 !important;
      cursor:                 not-allowed !important;

      &[class*='_very _disabled'] {
        opacity:              0.25 !important;
      }

      * {
        opacity:              1 !important;
        pointer-events:       none !important;
      }
    }
  }
}
