/*
 * Display utils.
 */
@mixin display-utils {
  ._hide {
    display:                  none;
  }

  ._hidden {
    display:                  none !important;
  }

  ._inline {
    display:                  inline !important;
  }

  ._block {
    display:                  block !important;
  }

  ._tblock {
    display:                  table !important;
  }

  ._iblock {
    display:                  inline-block !important;
  }

  ._flex {
    display:                  flex !important;

    > a,
    > div {
      flex:                   1 1 auto;
    }

    &[class*='_flex _row'] {
      flex-flow:              row wrap;
    }

    &[class*='_flex _column'] {
      flex-flow:              column nowrap;
    }
  }
}
