/*
 * Display utils.
 */
@mixin display-utils {
  ._hidden {
    display:                  none !important;
  }

  ._inline {
    display:                  inline !important;
  }

  ._inline_block {
    display:                  inline-block !important;
  }

  ._block {
    display:                  block !important;
  }

  ._block {
    display:                  block !important;
  }

  ._table_block {
    display:                  table !important;
  }
}
