/*
 * Heading utils.
 */
@mixin heading-utils {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &._block {
      margin-left:           -.5em;
      margin-right:          -.5em;
      padding:               .6em .75em .5em;

      //
      line-height:            1em;

      //
      color:                  $black-color;
      background:             $zumthor-color;

      //
      border-radius:         .25em;
      border:                 1px solid $black-color;

      //
      box-shadow:             0 2px 1px transparentize($black-color, 0.75);

      > code {
        display:              inline;
        white-space:          normal;

        //
        margin:               0;
        padding:              0;

        //
        font-size:            1em;
        font-family:          $sans-serif-font-family;

        //
        background:           none;
        color:                inherit;

        //
        border:               0;
        border-radius:        0;

        //
        text-shadow:          none;
        box-shadow:           none;
      }

      > label {
        float:                right;
        margin-left:          1em;

        //
        font-size:           .75em;
        font-family:          $sans-serif-font-family;

        //
        color:                darken($zumthor-color, 75%);
      }
    }
  }
}
