/*
 * Height utils.
 */
@mixin height-utils {
  /*
   * Alias of `_h 100p`.
   */
  ._stretched {
    height:                   100% !important;
  }

  ._h {
    /*
     * Em units.
     */
    &[class*='_h _025e'] {
      height:                .25em !important;
    }

    &[class*='_h _05e'] {
      height:                .5em !important;
    }

    &[class*='_h _075e'] {
      height:                .75em !important;
    }

    &[class*='_h _1e'] {
      height:                 1em !important;
    }

    &[class*='_h _125e'] {
      height:                 1.25em !important;
    }

    &[class*='_h _150e'] {
      height:                 1.5em !important;
    }

    &[class*='_h _175e'] {
      height:                 1.75em !important;
    }

    &[class*='_h _2e'] {
      height:                 2em !important;
    }

    &[class*='_h _225e'] {
      height:                 2.25em !important;
    }

    &[class*='_h _250e'] {
      height:                 2.5em !important;
    }

    &[class*='_h _275e'] {
      height:                 2.75em !important;
    }

    &[class*='_h _3e'] {
      height:                 3em !important;
    }

    &[class*='_h _5e'] {
      height:                 5em !important;
    }

    &[class*='_h _10e'] {
      height:                 10em !important;
    }

    &[class*='_h _20e'] {
      height:                 20em !important;
    }

    &[class*='_h _30e'] {
      height:                 30em !important;
    }

    /*
     * Percent of parent.
     */
    &[class*='_h _05p'] {
      height:                 05% !important;
    }

    &[class*='_h _15p'] {
      height:                 15% !important;
    }

    &[class*='_h _25p'] {
      height:                 25% !important;
    }

    &[class*='_h _35p'] {
      height:                 35% !important;
    }

    &[class*='_h _45p'] {
      height:                 45% !important;
    }

    &[class*='_h _50p'] {
      height:                 50% !important;
    }

    &[class*='_h _55p'] {
      height:                 55% !important;
    }

    &[class*='_h _65p'] {
      height:                 65% !important;
    }

    &[class*='_h _75p'] {
      height:                 75% !important;
    }

    &[class*='_h _85p'] {
      height:                 85% !important;
    }

    &[class*='_h _95p'] {
      height:                 95% !important;
    }

    &[class*='_h _100p'] {
      height:                 100% !important;
    }

    /*
     * Percent of viewport.
     */
    &[class*='_h _25v'] {
      height:                 25vh !important;
    }

    &[class*='_h _50v'] {
      height:                 50vh !important;
    }

    &[class*='_h _75v'] {
      height:                 75vh !important;
    }

    &[class*='_h _100v'] {
      height:                 100vh !important;
    }
  }

  /*
   * Min.
   */
  ._mnh {
    /*
     * Percent of parent.
     */
    &[class*='_mnh _25p'] {
      min-height:             25% !important;
    }

    &[class*='_mnh _50p'] {
      min-height:             50% !important;
    }

    &[class*='_mnh _75p'] {
      min-height:             75% !important;
    }

    &[class*='_mnh _100p'] {
      min-height:             100% !important;
    }

    /*
     * Percent of viewport.
     */
    &[class*='_mnh _25v'] {
      min-height:             25vh !important;
    }

    &[class*='_mnh _50v'] {
      min-height:             50vh !important;
    }

    &[class*='_mnh _75v'] {
      min-height:             75vh !important;
    }

    &[class*='_mnh _100v'] {
      min-height:             100vh !important;
    }
  }

  /*
   * Max.
   */
  ._mxh {
    /*
     * Percent of parent.
     */
    &[class*='_mxh _25p'] {
      max-height:             25% !important;
    }

    &[class*='_mxh _50p'] {
      max-height:             50% !important;
    }

    &[class*='_mxh _75p'] {
      max-height:             75% !important;
    }

    &[class*='_mxh _100p'] {
      max-height:             100% !important;
    }

    /*
     * Percent of viewport.
     */
    &[class*='_mxh _25v'] {
      max-height:             25vh !important;
    }

    &[class*='_mxh _50v'] {
      max-height:             50vh !important;
    }

    &[class*='_mxh _75v'] {
      max-height:             75vh !important;
    }

    &[class*='_mxh _100v'] {
      max-height:             100vh !important;
    }
  }
}
