/*
 * Line utils.
 */
@mixin line-utils {
  ._lh {
    /*
     * Normal.
     */
    &[class*='_lh _normal'] {
      line-height:            1.4285em !important;
    }

    /*
     * Unitless.
     */
    &[class*='_lh _1u'] {
      line-height:            1 !important;
    }

    &[class*='_lh _125u'] {
      line-height:            1.25 !important;
    }

    &[class*='_lh _150u'] {
      line-height:            1.5 !important;
    }

    &[class*='_lh _175u'] {
      line-height:            1.75 !important;
    }

    &[class*='_lh _2u'] {
      line-height:            2 !important;
    }

    &[class*='_lh _225u'] {
      line-height:            2.25 !important;
    }

    &[class*='_lh _250u'] {
      line-height:            2.5 !important;
    }

    &[class*='_lh _275u'] {
      line-height:            2.75 !important;
    }

    &[class*='_lh _3u'] {
      line-height:            3 !important;
    }
  }

  /*
   * Others.
   */
  ._line {
    &[class*='_line _clamp']:not(._mxw) {
      max-width:              100% !important;

      //
      white-space:            nowrap !important;
      overflow:               hidden !important;
      text-overflow:          ellipsis !important;
    }

    &[class*='_line _clamp']._mxw {
      // Inline clamp w/ a specific max-width.
      // e.g., `_mxw _50p`. See width utils.

      white-space:            nowrap !important;
      overflow:               hidden !important;
      text-overflow:          ellipsis !important;

      //
      vertical-align:         middle !important;
      display:                inline-block !important;
    }
  }
}
