/*
 * Margin utils.
 */
@mixin margin-utils {
  ._m {
    /*
     * All.
     */
    &[class*='_m _0u'] {
      margin:                 0 !important;
    }

    &[class*='_m _025r'] {
      margin:                .25rem !important;
    }

    &[class*='_m _05r'] {
      margin:                .5rem !important;
    }

    &[class*='_m _1r'] {
      margin:                 1rem !important;
    }

    &[class*='_m _2r'] {
      margin:                 2rem !important;
    }

    &[class*='_m _3r'] {
      margin:                 3rem !important;
    }

    /*
     * Top.
     */
    &[class*='_m _t-3r'] {
      margin-top:            -3rem !important;
    }

    &[class*='_m _t-2r'] {
      margin-top:            -2rem !important;
    }

    &[class*='_m _t-1r'] {
      margin-top:            -1rem !important;
    }

    &[class*='_m _t-05r'] {
      margin-top:            -.5rem !important;
    }

    &[class*='_m _t-025r'] {
      margin-top:            -.25rem !important;
    }

    &[class*='_m _t0u'] {
      margin-top:             0 !important;
    }

    &[class*='_m _t025r'] {
      margin-top:            .25rem !important;
    }

    &[class*='_m _t05r'] {
      margin-top:            .5rem !important;
    }

    &[class*='_m _t1r'] {
      margin-top:             1rem !important;
    }

    &[class*='_m _t2r'] {
      margin-top:             2rem !important;
    }

    &[class*='_m _t3r'] {
      margin-top:             3rem !important;
    }

    /*
     * Right.
     */
    &[class*='_m _r-3r'] {
      margin-right:          -3rem !important;
    }

    &[class*='_m _r-2r'] {
      margin-right:          -2rem !important;
    }

    &[class*='_m _r-1r'] {
      margin-right:          -1rem !important;
    }

    &[class*='_m _r-05r'] {
      margin-right:          -.5rem !important;
    }

    &[class*='_m _r-025r'] {
      margin-right:          -.25rem !important;
    }

    &[class*='_m _r0u'] {
      margin-right:           0 !important;
    }

    &[class*='_m _r025r'] {
      margin-right:          .25rem !important;
    }

    &[class*='_m _r05r'] {
      margin-right:          .5rem !important;
    }

    &[class*='_m _r1r'] {
      margin-right:           1rem !important;
    }

    &[class*='_m _r2r'] {
      margin-right:           2rem !important;
    }

    &[class*='_m _r3r'] {
      margin-right:           3rem !important;
    }

    /*
     * Bottom.
     */
    &[class*='_m _b-3r'] {
      margin-bottom:         -3rem !important;
    }

    &[class*='_m _b-2r'] {
      margin-bottom:         -2rem !important;
    }

    &[class*='_m _b-1r'] {
      margin-bottom:         -1rem !important;
    }

    &[class*='_m _b-05r'] {
      margin-bottom:         -.5rem !important;
    }

    &[class*='_m _b-025r'] {
      margin-bottom:         -.25rem !important;
    }

    &[class*='_m _b0u'] {
      margin-bottom:          0 !important;
    }

    &[class*='_m _b025r'] {
      margin-bottom:         .25rem !important;
    }

    &[class*='_m _b05r'] {
      margin-bottom:         .5rem !important;
    }

    &[class*='_m _b1r'] {
      margin-bottom:          1rem !important;
    }

    &[class*='_m _b2r'] {
      margin-bottom:          2rem !important;
    }

    &[class*='_m _b3r'] {
      margin-bottom:          3rem !important;
    }

    /*
     * Left.
     */
    &[class*='_m _l-3r'] {
      margin-left:           -3rem !important;
    }

    &[class*='_m _l-2r'] {
      margin-left:           -2rem !important;
    }

    &[class*='_m _l-1r'] {
      margin-left:           -1rem !important;
    }

    &[class*='_m _l-05r'] {
      margin-left:           -.5rem !important;
    }

    &[class*='_m _l-025r'] {
      margin-left:           -.25rem !important;
    }

    &[class*='_m _l0u'] {
      margin-left:            0 !important;
    }

    &[class*='_m _l025r'] {
      margin-left:           .25rem !important;
    }

    &[class*='_m _l05r'] {
      margin-left:           .5rem !important;
    }

    &[class*='_m _l1r'] {
      margin-left:            1rem !important;
    }

    &[class*='_m _l2r'] {
      margin-left:            2rem !important;
    }

    &[class*='_m _l3r'] {
      margin-left:            3rem !important;
    }

    /*
     * Horizontal.
     */
    &[class*='_m _h0u'] {
      margin-left:            0 !important;
      margin-right:           0 !important;
    }

    &[class*='_m _h025r'] {
      margin-left:           .25rem !important;
      margin-right:          .25rem !important;
    }

    &[class*='_m _h05r'] {
      margin-left:           .5rem !important;
      margin-right:          .5rem !important;
    }

    &[class*='_m _h1r'] {
      margin-left:            1rem !important;
      margin-right:           1rem !important;
    }

    &[class*='_m _h2r'] {
      margin-left:            2rem !important;
      margin-right:           2rem !important;
    }

    &[class*='_m _h3r'] {
      margin-left:            3rem !important;
      margin-right:           3rem !important;
    }

    /*
     * Vertical.
     */
    &[class*='_m _v0u'] {
      margin-top:             0 !important;
      margin-bottom:          0 !important;
    }

    &[class*='_m _v025r'] {
      margin-top:            .25rem !important;
      margin-bottom:         .25rem !important;
    }

    &[class*='_m _v05r'] {
      margin-top:            .5rem !important;
      margin-bottom:         .5rem !important;
    }

    &[class*='_m _v1r'] {
      margin-top:             1rem !important;
      margin-bottom:          1rem !important;
    }

    &[class*='_m _v2r'] {
      margin-top:             2rem !important;
      margin-bottom:          2rem !important;
    }

    &[class*='_m _v3r'] {
      margin-top:             3rem !important;
      margin-bottom:          3rem !important;
    }
  }
}
