/*
 * Margin utils.
 */
@mixin margin-utils {
  ._m {
    /*
     * All.
     */
    &[class*='_m _0u'] {
      margin:                 0 !important;
    }

    &[class*='_m _025r'] {
      margin:                .25rem !important;
    }

    &[class*='_m _05r'] {
      margin:                .5rem !important;
    }

    &[class*='_m _1r'] {
      margin:                 1rem !important;
    }

    &[class*='_m _2r'] {
      margin:                 2rem !important;
    }

    &[class*='_m _3r'] {
      margin:                 3rem !important;
    }

    &[class*='_m _5r'] {
      margin:                 5rem !important;
    }

    &[class*='_m _10r'] {
      margin:                 10rem !important;
    }

    &[class*='_m _20r'] {
      margin:                 20rem !important;
    }

    &[class*='_m _30r'] {
      margin:                 30rem !important;
    }

    /*
     * Top.
     */
    &[class*='_m _t-30r'] {
      margin-top:            -30rem !important;
    }

    &[class*='_m _t-20r'] {
      margin-top:            -20rem !important;
    }

    &[class*='_m _t-10r'] {
      margin-top:            -10rem !important;
    }

    &[class*='_m _t-5r'] {
      margin-top:            -5rem !important;
    }

    &[class*='_m _t-3r'] {
      margin-top:            -3rem !important;
    }

    &[class*='_m _t-2r'] {
      margin-top:            -2rem !important;
    }

    &[class*='_m _t-1r'] {
      margin-top:            -1rem !important;
    }

    &[class*='_m _t-05r'] {
      margin-top:            -.5rem !important;
    }

    &[class*='_m _t-025r'] {
      margin-top:            -.25rem !important;
    }

    &[class*='_m _t0u'] {
      margin-top:             0 !important;
    }

    &[class*='_m _t025r'] {
      margin-top:            .25rem !important;
    }

    &[class*='_m _t05r'] {
      margin-top:            .5rem !important;
    }

    &[class*='_m _t1r'] {
      margin-top:             1rem !important;
    }

    &[class*='_m _t2r'] {
      margin-top:             2rem !important;
    }

    &[class*='_m _t3r'] {
      margin-top:             3rem !important;
    }

    &[class*='_m _t5r'] {
      margin-top:             5rem !important;
    }

    &[class*='_m _t10r'] {
      margin-top:             10rem !important;
    }

    &[class*='_m _t20r'] {
      margin-top:             20rem !important;
    }

    &[class*='_m _t30r'] {
      margin-top:             30rem !important;
    }

    /*
     * Right.
     */
    &[class*='_m _r-30r'] {
      margin-right:          -30rem !important;
    }

    &[class*='_m _r-20r'] {
      margin-right:          -20rem !important;
    }

    &[class*='_m _r-10r'] {
      margin-right:          -10rem !important;
    }

    &[class*='_m _r-5r'] {
      margin-right:          -5rem !important;
    }

    &[class*='_m _r-3r'] {
      margin-right:          -3rem !important;
    }

    &[class*='_m _r-2r'] {
      margin-right:          -2rem !important;
    }

    &[class*='_m _r-1r'] {
      margin-right:          -1rem !important;
    }

    &[class*='_m _r-05r'] {
      margin-right:          -.5rem !important;
    }

    &[class*='_m _r-025r'] {
      margin-right:          -.25rem !important;
    }

    &[class*='_m _r0u'] {
      margin-right:           0 !important;
    }

    &[class*='_m _r025r'] {
      margin-right:          .25rem !important;
    }

    &[class*='_m _r05r'] {
      margin-right:          .5rem !important;
    }

    &[class*='_m _r1r'] {
      margin-right:           1rem !important;
    }

    &[class*='_m _r2r'] {
      margin-right:           2rem !important;
    }

    &[class*='_m _r3r'] {
      margin-right:           3rem !important;
    }

    &[class*='_m _r5r'] {
      margin-right:           5rem !important;
    }

    &[class*='_m _r10r'] {
      margin-right:           10rem !important;
    }

    &[class*='_m _r20r'] {
      margin-right:           20rem !important;
    }

    &[class*='_m _r30r'] {
      margin-right:           30rem !important;
    }

    /*
     * Bottom.
     */
    &[class*='_m _b-30r'] {
      margin-bottom:         -30rem !important;
    }

    &[class*='_m _b-20r'] {
      margin-bottom:         -20rem !important;
    }

    &[class*='_m _b-10r'] {
      margin-bottom:         -10rem !important;
    }

    &[class*='_m _b-5r'] {
      margin-bottom:         -5rem !important;
    }

    &[class*='_m _b-3r'] {
      margin-bottom:         -3rem !important;
    }

    &[class*='_m _b-2r'] {
      margin-bottom:         -2rem !important;
    }

    &[class*='_m _b-1r'] {
      margin-bottom:         -1rem !important;
    }

    &[class*='_m _b-05r'] {
      margin-bottom:         -.5rem !important;
    }

    &[class*='_m _b-025r'] {
      margin-bottom:         -.25rem !important;
    }

    &[class*='_m _b0u'] {
      margin-bottom:          0 !important;
    }

    &[class*='_m _b025r'] {
      margin-bottom:         .25rem !important;
    }

    &[class*='_m _b05r'] {
      margin-bottom:         .5rem !important;
    }

    &[class*='_m _b1r'] {
      margin-bottom:          1rem !important;
    }

    &[class*='_m _b2r'] {
      margin-bottom:          2rem !important;
    }

    &[class*='_m _b3r'] {
      margin-bottom:          3rem !important;
    }

    &[class*='_m _b5r'] {
      margin-bottom:          5rem !important;
    }

    &[class*='_m _b10r'] {
      margin-bottom:          10rem !important;
    }

    &[class*='_m _b20r'] {
      margin-bottom:          20rem !important;
    }

    &[class*='_m _b30r'] {
      margin-bottom:          30rem !important;
    }

    /*
     * Left.
     */
    &[class*='_m _l-30r'] {
      margin-left:           -30rem !important;
    }

    &[class*='_m _l-20r'] {
      margin-left:           -20rem !important;
    }

    &[class*='_m _l-10r'] {
      margin-left:           -10rem !important;
    }

    &[class*='_m _l-5r'] {
      margin-left:           -5rem !important;
    }

    &[class*='_m _l-3r'] {
      margin-left:           -3rem !important;
    }

    &[class*='_m _l-2r'] {
      margin-left:           -2rem !important;
    }

    &[class*='_m _l-1r'] {
      margin-left:           -1rem !important;
    }

    &[class*='_m _l-05r'] {
      margin-left:           -.5rem !important;
    }

    &[class*='_m _l-025r'] {
      margin-left:           -.25rem !important;
    }

    &[class*='_m _l0u'] {
      margin-left:            0 !important;
    }

    &[class*='_m _l025r'] {
      margin-left:           .25rem !important;
    }

    &[class*='_m _l05r'] {
      margin-left:           .5rem !important;
    }

    &[class*='_m _l1r'] {
      margin-left:            1rem !important;
    }

    &[class*='_m _l2r'] {
      margin-left:            2rem !important;
    }

    &[class*='_m _l3r'] {
      margin-left:            3rem !important;
    }

    &[class*='_m _l5r'] {
      margin-left:            5rem !important;
    }

    &[class*='_m _l10r'] {
      margin-left:            10rem !important;
    }

    &[class*='_m _l20r'] {
      margin-left:            20rem !important;
    }

    &[class*='_m _l30r'] {
      margin-left:            30rem !important;
    }

    /*
     * Horizontal.
     */
    &[class*='_m _h0u'] {
      margin-left:            0 !important;
      margin-right:           0 !important;
    }

    &[class*='_m _h025r'] {
      margin-left:           .25rem !important;
      margin-right:          .25rem !important;
    }

    &[class*='_m _h05r'] {
      margin-left:           .5rem !important;
      margin-right:          .5rem !important;
    }

    &[class*='_m _h1r'] {
      margin-left:            1rem !important;
      margin-right:           1rem !important;
    }

    &[class*='_m _h2r'] {
      margin-left:            2rem !important;
      margin-right:           2rem !important;
    }

    &[class*='_m _h3r'] {
      margin-left:            3rem !important;
      margin-right:           3rem !important;
    }

    &[class*='_m _h5r'] {
      margin-left:            5rem !important;
      margin-right:           5rem !important;
    }

    &[class*='_m _h10r'] {
      margin-left:            10rem !important;
      margin-right:           10rem !important;
    }

    &[class*='_m _h20r'] {
      margin-left:            20rem !important;
      margin-right:           20rem !important;
    }

    &[class*='_m _h30r'] {
      margin-left:            30rem !important;
      margin-right:           30rem !important;
    }

    /*
     * Vertical.
     */
    &[class*='_m _v0u'] {
      margin-top:             0 !important;
      margin-bottom:          0 !important;
    }

    &[class*='_m _v025r'] {
      margin-top:            .25rem !important;
      margin-bottom:         .25rem !important;
    }

    &[class*='_m _v05r'] {
      margin-top:            .5rem !important;
      margin-bottom:         .5rem !important;
    }

    &[class*='_m _v1r'] {
      margin-top:             1rem !important;
      margin-bottom:          1rem !important;
    }

    &[class*='_m _v2r'] {
      margin-top:             2rem !important;
      margin-bottom:          2rem !important;
    }

    &[class*='_m _v3r'] {
      margin-top:             3rem !important;
      margin-bottom:          3rem !important;
    }

    &[class*='_m _v5r'] {
      margin-top:             5rem !important;
      margin-bottom:          5rem !important;
    }

    &[class*='_m _v10r'] {
      margin-top:             10rem !important;
      margin-bottom:          10rem !important;
    }

    &[class*='_m _v20r'] {
      margin-top:             20rem !important;
      margin-bottom:          20rem !important;
    }

    &[class*='_m _v30r'] {
      margin-top:             30rem !important;
      margin-bottom:          30rem !important;
    }
  }
}
