/*
 * Muted utils.
 */
@mixin muted-utils {
  ._muted:not([class*='_muted _on_hover']),
  ._muted._on_hover[class*='_muted _on_hover']:hover {
    opacity:                  0.5 !important;
  }

  ._very._muted[class*='_very _muted']:not([class*='_muted _on_hover']),
  ._very._muted._on_hover[class*='_very _muted _on_hover']:hover {
    opacity:                  0.25 !important;
  }

  ._muted._not_on_hover[class*='_muted _not_on_hover']:hover {
    // NOTE: This is problematic. There's simply no way to guarantee
    // that we are actually reverting to the originally defined styles.
    opacity:                  1 !important;
  }
}
