/*
 * Opacity utils.
 */
@mixin opacity-utils {
  ._o {
    /*
     * Unitless.
     */
    &[class*='_o _0u'] {
      opacity:                0 !important;
    }

    &[class*='_o _01u'] {
      opacity:                0.1 !important;
    }

    &[class*='_o _02u'] {
      opacity:                0.2 !important;
    }

    &[class*='_o _025u'] {
      opacity:                0.25 !important;
    }

    &[class*='_o _03u'] {
      opacity:                0.3 !important;
    }

    &[class*='_o _04u'] {
      opacity:                0.4 !important;
    }

    &[class*='_o _05u'] {
      opacity:                0.5 !important;
    }

    &[class*='_o _06u'] {
      opacity:                0.6 !important;
    }

    &[class*='_o _07u'] {
      opacity:                0.7 !important;
    }

    &[class*='_o _075u'] {
      opacity:                0.75 !important;
    }

    &[class*='_o _08u'] {
      opacity:                0.8 !important;
    }

    &[class*='_o _09u'] {
      opacity:                0.9 !important;
    }

    &[class*='_o _1u'] {
      opacity:                1 !important;
    }
  }

  /*
   * Alias of `_opacity _05`.
   * And also of `_opacity _025`.
   */
  ._muted {
    &:not([class*='_muted _on _hover']),
    &[class*='_muted _on _hover']:hover {
      opacity:                0.5 !important;

      &[class*='_very _muted'] {
        opacity:              0.25 !important;
      }
    }
  }
}
