/*
 * Padding utils.
 */
@mixin padding-utils {
  ._p {
    /*
     * All.
     */
    &[class*='_p _0u'] {
      padding:                0 !important;
    }

    &[class*='_p _025e'] {
      padding:               .25em !important;
    }

    &[class*='_p _05e'] {
      padding:               .5em !important;
    }

    &[class*='_p _1e'] {
      padding:                1em !important;
    }

    &[class*='_p _2e'] {
      padding:                2em !important;
    }

    &[class*='_p _3e'] {
      padding:                3em !important;
    }

    &[class*='_p _5e'] {
      padding:                5em !important;
    }

    &[class*='_p _10e'] {
      padding:                10em !important;
    }

    &[class*='_p _20e'] {
      padding:                20em !important;
    }

    &[class*='_p _30e'] {
      padding:                30em !important;
    }

    /*
     * Top.
     */
    &[class*='_p _t0u'] {
      padding-top:            0 !important;
    }

    &[class*='_p _t025e'] {
      padding-top:           .25em !important;
    }

    &[class*='_p _t05e'] {
      padding-top:           .5em !important;
    }

    &[class*='_p _t1e'] {
      padding-top:            1em !important;
    }

    &[class*='_p _t2e'] {
      padding-top:            2em !important;
    }

    &[class*='_p _t3e'] {
      padding-top:            3em !important;
    }

    &[class*='_p _t5e'] {
      padding-top:            5em !important;
    }

    &[class*='_p _t10e'] {
      padding-top:            10em !important;
    }

    &[class*='_p _t20e'] {
      padding-top:            20em !important;
    }

    &[class*='_p _t30e'] {
      padding-top:            30em !important;
    }

    /*
     * Right.
     */
    &[class*='_p _r0u'] {
      padding-right:          0 !important;
    }

    &[class*='_p _r025e'] {
      padding-right:         .25em !important;
    }

    &[class*='_p _r05e'] {
      padding-right:         .5em !important;
    }

    &[class*='_p _r1e'] {
      padding-right:          1em !important;
    }

    &[class*='_p _r2e'] {
      padding-right:          2em !important;
    }

    &[class*='_p _r3e'] {
      padding-right:          3em !important;
    }

    &[class*='_p _r5e'] {
      padding-right:          5em !important;
    }

    &[class*='_p _r10e'] {
      padding-right:          10em !important;
    }

    &[class*='_p _r20e'] {
      padding-right:          20em !important;
    }

    &[class*='_p _r30e'] {
      padding-right:          30em !important;
    }

    /*
     * Bottom.
     */
    &[class*='_p _b0u'] {
      padding-bottom:         0 !important;
    }

    &[class*='_p _b025e'] {
      padding-bottom:        .25em !important;
    }

    &[class*='_p _b05e'] {
      padding-bottom:        .5em !important;
    }

    &[class*='_p _b1e'] {
      padding-bottom:         1em !important;
    }

    &[class*='_p _b2e'] {
      padding-bottom:         2em !important;
    }

    &[class*='_p _b3e'] {
      padding-bottom:         3em !important;
    }

    &[class*='_p _b5e'] {
      padding-bottom:         5em !important;
    }

    &[class*='_p _b10e'] {
      padding-bottom:         10em !important;
    }

    &[class*='_p _b20e'] {
      padding-bottom:         20em !important;
    }

    &[class*='_p _b30e'] {
      padding-bottom:         30em !important;
    }

    /*
     * Left.
     */
    &[class*='_p _l0u'] {
      padding-left:           0 !important;
    }

    &[class*='_p _l025e'] {
      padding-left:          .25em !important;
    }

    &[class*='_p _l05e'] {
      padding-left:          .5em !important;
    }

    &[class*='_p _l1e'] {
      padding-left:           1em !important;
    }

    &[class*='_p _l2e'] {
      padding-left:           2em !important;
    }

    &[class*='_p _l3e'] {
      padding-left:           3em !important;
    }

    &[class*='_p _l5e'] {
      padding-left:           5em !important;
    }

    &[class*='_p _l10e'] {
      padding-left:           10em !important;
    }

    &[class*='_p _l20e'] {
      padding-left:           20em !important;
    }

    &[class*='_p _l30e'] {
      padding-left:           30em !important;
    }

    /*
     * Horizontal.
     */
    &[class*='_p _h0u'] {
      padding-left:           0 !important;
      padding-right:          0 !important;
    }

    &[class*='_p _h025e'] {
      padding-left:          .25em !important;
      padding-right:         .25em !important;
    }

    &[class*='_p _h05e'] {
      padding-left:          .5em !important;
      padding-right:         .5em !important;
    }

    &[class*='_p _h1e'] {
      padding-left:           1em !important;
      padding-right:          1em !important;
    }

    &[class*='_p _h2e'] {
      padding-left:           2em !important;
      padding-right:          2em !important;
    }

    &[class*='_p _h3e'] {
      padding-left:           3em !important;
      padding-right:          3em !important;
    }

    &[class*='_p _h5e'] {
      padding-left:           5em !important;
      padding-right:          5em !important;
    }

    &[class*='_p _h10e'] {
      padding-left:           10em !important;
      padding-right:          10em !important;
    }

    &[class*='_p _h20e'] {
      padding-left:           20em !important;
      padding-right:          20em !important;
    }

    &[class*='_p _h30e'] {
      padding-left:           30em !important;
      padding-right:          30em !important;
    }

    /*
     * Vertical.
     */
    &[class*='_p _v0u'] {
      padding-top:            0 !important;
      padding-bottom:         0 !important;
    }

    &[class*='_p _v025e'] {
      padding-top:           .25em !important;
      padding-bottom:        .25em !important;
    }

    &[class*='_p _v05e'] {
      padding-top:           .5em !important;
      padding-bottom:        .5em !important;
    }

    &[class*='_p _v1e'] {
      padding-top:            1em !important;
      padding-bottom:         1em !important;
    }

    &[class*='_p _v2e'] {
      padding-top:            2em !important;
      padding-bottom:         2em !important;
    }

    &[class*='_p _v3e'] {
      padding-top:            3em !important;
      padding-bottom:         3em !important;
    }

    &[class*='_p _v5e'] {
      padding-top:            5em !important;
      padding-bottom:         5em !important;
    }

    &[class*='_p _v10e'] {
      padding-top:            10em !important;
      padding-bottom:         10em !important;
    }

    &[class*='_p _v20e'] {
      padding-top:            20em !important;
      padding-bottom:         20em !important;
    }

    &[class*='_p _v30e'] {
      padding-top:            30em !important;
      padding-bottom:         30em !important;
    }
  }
}
