/*
 * Responsive utils.
 */
@mixin responsive-utils {
  // A mobile device.
  @include mobile-device {
    .only {
      &[class*='tablet only'],
      &[class*='computer only'],
      &[class*='large screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }
  }


  // A tablet device.
  @include tablet-device {
    .only {
      &[class*='mobile only'],
      &[class*='computer only'],
      &[class*='large screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }
  }


  // A computer device.
  @include computer-device {
    .only {
      &[class*='mobile only'],
      &[class*='tablet only'],
      &[class*='handheld only'],
      &[class*='large screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }
  }


  // A large screen device.
  @include large-screen-device {
    .only {
      &[class*='mobile only'],
      &[class*='tablet only'],
      &[class*='handheld only'],
      &[class*='small screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }
  }


  // A widescreen device.
  @include widescreen-device {
    .only {
      &[class*='mobile only'],
      &[class*='tablet only'],
      &[class*='handheld only'],
      &[class*='small screen only'] {
        display:              none !important;
      }
    }
  }
}
