/*
 * Responsive utils.
 */
@mixin responsive-utils {
  // A mobile device.
  @include mobile-device {
    .only {
      &[class*='tablet only'],
      &[class*='computer only'],
      &[class*='large screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }

    ._hidden {
      &[class*='_hidden _when _mobile'],
      &[class*='_hidden _when _handheld'],
      &[class*='_hidden _when _small _screen'] {
        display:              none !important;
      }
    }
  }


  // A tablet device.
  @include tablet-device {
    .only {
      &[class*='mobile only'],
      &[class*='computer only'],
      &[class*='large screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }

    ._hidden {
      &[class*='_hidden _when _tablet'],
      &[class*='_hidden _when _handheld'],
      &[class*='_hidden _when _small _screen'] {
        display:              none !important;
      }
    }
  }


  // A computer device.
  @include computer-device {
    .only {
      &[class*='mobile only'],
      &[class*='tablet only'],
      &[class*='handheld only'],
      &[class*='large screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }

    ._hidden {
      &[class*='_hidden _when _computer'],
      &[class*='_hidden _when _small _screen'] {
        display:              none !important;
      }
    }
  }


  // A large screen device.
  @include large-screen-device {
    .only {
      &[class*='mobile only'],
      &[class*='tablet only'],
      &[class*='handheld only'],
      &[class*='small screen only'],
      &[class*='widescreen only'] {
        display:              none !important;
      }
    }

    ._hidden {
      &[class*='_hidden _when _large _screen'],
      &[class*='_hidden _when _computer'] {
        display:              none !important;
      }
    }
  }


  // A widescreen device.
  @include widescreen-device {
    .only {
      &[class*='mobile only'],
      &[class*='tablet only'],
      &[class*='handheld only'],
      &[class*='small screen only'] {
        display:              none !important;
      }
    }

    ._hidden {
      &[class*='_hidden _when _widescreen'],
      &[class*='_hidden _when _computer'] {
        display:              none !important;
      }
    }
  }
}
