@mixin semantic-lists {
  .ui.list {
    > .item {
      > .image {
        + .content {
          max-width:          calc(100% - 2.5em);
        }
      }
    }
  }

  .ui.list {
    &[class*='#f:.'],
    &[class*='#f:1'],
    &[class*='#f:2'],
    &[class*='#f:3'],
    &[class*='#f:5'] {
      > .item {
        font-size:            inherit;
      }
    }

    &.\#f\:thin,
    &.\#f\:light,
    &.\#f\:lighter,
    &.\#f\:normal,
    &.\#f\:medium,
    &.\#f\:bold,
    &.\#f\:bolder,
    &.\#f\:thick {
      > .item {
        font-weight:          inherit;
      }
    }

    &.\#f\:uline,
    &.\#f\:strike {
      > .item {
        text-decoration:      inherit;
      }
    }

    &.\#f\:italic {
      > .item {
        font-style:           inherit;
      }
    }

    &.\#f\:lower,
    &.\#f\:upper,
    &.\#f\:ucwords {
      > .item {
        text-transform:       inherit;
      }
    }

    &.\#f\:small-caps {
      > .item {
        font-variant:         inherit;
      }
    }
  }
}
