@import 'bourbon/bourbon';
@import 'mixins/responsive';
@import 'colors/core';

/*
 * HTML / body.
 */
html,
body {
  font-size:                  16px;

  @include mobile-and-tablet-only {
    font-size:                14px;
  }
}

body {
  overflow-y:                 scroll !important;
}

/*
 * Blockquote tags.
 */
blockquote {
  padding:                    1em;
  border-radius:             .25em;
  quotes:                     '“' '”';
  background:                 $blockquote-bg-color;
  border-left:                0.1em solid $blockquote-border-color;
}

blockquote::before {
  font-size:                  3em;
  float:                      left;
  content:                    open-quote;
  margin:                    .25em .1em 0 0;
  color:                      $blockquote-quote-color;
}

blockquote::after {
  font-size:                  3em;
  float:                      right;
  content:                    close-quote;
  margin:                     0 .1em .25em 0;
  color:                      $blockquote-quote-color;
}

/*
 * Form fields.
 */
[placeholder]:focus::-webkit-input-placeholder {
  opacity:                    0.25;
}

/*
 * Buttons.
 */
.ui.buttons {
  .ui.button {
    + .or {
      &::before {
        font-weight:          400;
        font-size:           .75em;
        line-height:          1.75em;
        padding-left:        .075em;
      }
    }
  }
}

/*
 * Main header.
 */
.app-main-header:not(#x) {
  padding:                    0 0 1em;
  margin:                     1em 0 2em;
  border-bottom:              1px solid $app-main-header-border-color;

  .-left-side {
    //

  }

  .-right-side {
    //

  }
}

/*
 * Main body.
 */
.app-main-body:not(#x) {
  .-only-side {
    //

  }
}

/*
 * Main footer.
 */
.app-main-footer:not(#x) {
  margin-top:                 4em;

  &.inverted {
    h4 {
      color:                  $app-main-footer-heading-color;
    }

    p {
      color:                  $app-main-footer-text-color;
    }

    a,
    .ui.link.list a {
      color:                  $app-main-footer-link-color;

      &:hover {
        color:                $app-main-footer-link-hover-color;
      }
    }
  }

  .-left-side {
    //

  }

  .-right-side {
    //

  }
}

/*
 * Article utils.
 */
._article {
  > p:first-of-type:not([class]) {
    font-size:                1.25em;
    font-family:              'Georgia', serif;
  }
}

/*
 * Muted utils.
 */
._muted {
  opacity:                    0.5;
}

[class*='_very _muted'] {
  opacity:                    0.25;
}

[class*='_muted _when-not-hovering'] {
  &:hover {
    opacity:                  1;
  }
}

/*
 * Blurred utils.
 */
._blurred {
  @include filter(blur(2px));

  opacity:                    0.5;
}

[class*='_very _blurred'] {
  @include filter(blur(4px));

  opacity:                    0.25;
}

[class*='_blurred _when-not-hovering'] {
  &:hover {
    @include filter(none);

    opacity:                  1;
  }
}
