//
@import 'base';

/*
 * Colors.
 */
$app-main-header-border-color: #eee;

$app-main-footer-inverted-heading-color: #505050;
$app-main-footer-inverted-text-color: #828282;
$app-main-footer-inverted-link-color: #a1a1a1;
$app-main-footer-inverted-link-hover-color: #fff;

/*
 * Main header.
 */
.app-main-header:not(#x) {
  padding:                    0 0 1em;
  margin:                     1em 0 2em;
  border-bottom:              1px solid $app-main-header-border-color;

  .-left-side {
    //

  }

  .-right-side {
    //

  }
}

/*
 * Main body.
 */
.app-main-body:not(#x) {
  .-only-side {
    //

  }
}

/*
 * Main footer.
 */
.app-main-footer:not(#x) {
  margin-top:                 3em;

  &.inverted {
    h4 {
      color:                  $app-main-footer-inverted-heading-color;
    }

    p {
      color:                  $app-main-footer-inverted-text-color;
    }

    a,
    .ui.link.list a {
      color:                  $app-main-footer-inverted-link-color;

      &:hover {
        color:                $app-main-footer-inverted-link-hover-color;
      }
    }
  }

  .-left-side {
    //

  }

  .-right-side {
    //

  }
}
