@import 'bourbon/bourbon';
@import 'mixins/responsive';
@import 'colors/core';

/*
 * HTML/body.
 */
html,
body {
  font-size:                  16px;

  @include mobile-and-tablet-only {
    font-size:                14px;
  }
}

body {
  overflow-y:                 scroll !important;
}

/*
 * Blockquotes.
 */
blockquote {
  padding:                    1em;
  quotes:                     '“' '”';
  background:                 $blockquote-bg-color;
  border-left:                0.1em solid $blockquote-border-color;
}

blockquote::before {
  font-size:                  3em;
  float:                      left;
  content:                    open-quote;
  margin:                    .25em .1em 0 0;
  color:                      $blockquote-quote-color;
}

blockquote::after {
  font-size:                  3em;
  float:                      right;
  content:                    close-quote;
  margin:                     0 .1em .25em 0;
  color:                      $blockquote-quote-color;
}

/*
 * Form fields.
 */
[placeholder]:focus::-webkit-input-placeholder {
  opacity:                    0.25;
}

/*
 * Main menu.
 */
.app-main-menu {
  padding:                    0 0 1em;
  margin:                     1em 0 2em;
  border-bottom:              1px solid $main-menu-border-color;

  .-left-side {
    .-logo {
      margin:                 1.5em 0 0;
    }
  }

  .-right-side {
    //

  }
}

/*
 * Main header.
 */
.app-main-header {
  margin:                     1em 0;

  .-left-side {
    //

  }

  .-right-side {
    //

  }
}

/*
 * Main body.
 */
.app-main-body {
  //
}

/*
 * Main footer.
 */
.app-main-footer {
  .-left-side {
    //

  }

  .-right-side {
    //

  }
}

/*
 * Muted utils.
 */
._muted {
  opacity:                    0.5;
}

[class*='_very _muted'] {
  opacity:                    0.25;
}

[class*='_muted _when-not-hovering'] {
  &:hover {
    opacity:                  1;
  }
}

/*
 * Blurred utils.
 */
._blurred {
  @include filter(blur(2px));

  opacity:                    0.5;
}

[class*='_very _blurred'] {
  @include filter(blur(4px));

  opacity:                    0.25;
}

[class*='_blurred _when-not-hovering'] {
  &:hover {
    @include filter(none);

    opacity:                  1;
  }
}
