@mixin content-tag-hashes {
  // Defaults.

  %hash-content-tag-defaults {
    @extend                   %hash-display-block;
    @extend                   %hash-content-font-family;

    font-size:                1.125em;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @include text-shadow-raise;
      @extend                 %hash-content-hx-font-family;
      @extend                 %hash-content-hx-font-weight;
    }

    h1 {
      @extend                 %hash-content-h1-font-family;
      @extend                 %hash-content-h1-font-weight;

      font-size:              3.157em;
    }

    h2 {
      @extend                 %hash-content-h2-font-family;
      @extend                 %hash-content-h2-font-weight;
    }

    > p:first-of-type:not([class]) {
      @extend                 %hash-content-lede-font-family;

      font-size:              1.25em;
    }

    em {
      font-size:             .889em;
      letter-spacing:        .035em;

      :not(a) {
        letter-spacing:       normal;
      }
    }

    a {
      // This can be changed w/o negatively affecting other areas.
      text-decoration:        none;
    }

    @include lte-tablet {
      img {
        &.alignleft,
        &.alignright,
        &[class*='#float:'],
        &[class*='#push:'],
        &[class*='#pull:'],
        &[class*='#yank:'] {
          &:not([class*=':if-']) {
            @include center-conversion(true);
          }
        }
      }
    }
  }

  // Content bodies.

  @if $apply-custom-tag-defaults {
    content-body {
      @extend                 %hash-content-tag-defaults;
    }
  }
  @else {
    .\@content-body {
      @extend                 %hash-content-tag-defaults;
    }
  }
}
