// Glow.

@mixin -box-shadow-glow($important: false, $color: $black-color) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  box-shadow:                 0 0 0.25em 0 rgba($color, 0.25) #{$important};
}

@mixin box-shadow-glow($important: false, $color: $black-color) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  box-shadow:                 0 0 0.5em 0 rgba($color, 0.5) #{$important};
}

@mixin \+box-shadow-glow($important: false, $color: $black-color) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  box-shadow:                 0 0 0.75em 0 rgba($color, 0.75) #{$important};
}

// Raise.

@mixin -box-shadow-raise($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  box-shadow:                 0 0.3px 0 0 $white-color inset, 0 -0.3px 0 0 rgba($black-color, 0.15) inset #{$important};
}

@mixin box-shadow-raise($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  box-shadow:                 0 0.5px 0 0 $white-color inset, 0 -0.5px 0 0 rgba($black-color, 0.25) inset #{$important};
}

@mixin \+box-shadow-raise($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  box-shadow:                 0 1px 0 0 $white-color inset, 0 -1px 0 0 rgba($black-color, 0.5) inset #{$important};
}

// Inset.

@mixin box-shadow-inset($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  background-image:           linear-gradient(rgba($black-color, 0.05), rgba($black-color, 0.05)) #{$important};
  box-shadow:                 0 0 0 0.4px rgba($black-color, 0.2) inset, 0 0 0 0.4px rgba($white-color, 0.1) #{$important};
}

@mixin \+box-shadow-inset($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  background-image:           linear-gradient(rgba($black-color, 0.15), rgba($black-color, 0.15)) #{$important};
  box-shadow:                 0 0 0 0.4px rgba($black-color, 0.2) inset, 0 0 0 0.4px rgba($white-color, 0.1) #{$important};
}

@mixin \+\+box-shadow-inset($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  background-image:           linear-gradient(rgba($black-color, 0.25), rgba($black-color, 0.25)) #{$important};
  box-shadow:                 0 0 0 0.4px rgba($black-color, 0.2) inset, 0 0 0 0.4px rgba($white-color, 0.1) #{$important};
}

// Other shadows.

@mixin box-shadow-bottom($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  position:                   relative #{$important};
  box-shadow:                 0 0.05em 0.15em rgba($black-color, 0.5) #{$important};

  &::before,
  &::after {
    content:                  '';

    //
    z-index:                 -1;
    top:                      50%;
    right:                   .6em;
    bottom:                   0;
    left:                    .6em;
    position:                 absolute;

    //
    border-radius:            10em;
    box-shadow:               0 0 1.25em rgba($black-color, 0.5);
  }

  &::after {
    right:                   .6em;
    left:                     auto;
    transform:                skew(8deg) rotate(3deg);
  }
}

@mixin box-shadow-bottom-left($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  position:                   relative #{$important};

  &::before {
    content:                  '';

    //
    z-index:                 -1;
    top:                      80%;
    right:                    auto;
    bottom:                  .95em;
    left:                    .6em;
    position:                 absolute;

    //
    width:                    50%;
    max-width:                25em;
    transform:                rotate(-3deg);

    //
    background:               rgba($black-color, 0.35);
    box-shadow:               0 0.95em 0.6em rgba($black-color, 0.35);
  }
}

@mixin box-shadow-bottom-right($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  position:                   relative #{$important};

  &::after {
    content:                  '';

    //
    z-index:                 -1;
    top:                      80%;
    right:                   .6em;
    bottom:                  .95em;
    left:                     auto;
    position:                 absolute;

    //
    width:                    50%;
    max-width:                25em;
    transform:                rotate(3deg);

    //
    background:               rgba($black-color, 0.35);
    box-shadow:               0 0.95em 0.6em rgba($black-color, 0.35);
  }
}

@mixin box-shadow-bottom-left-right($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  position:                   relative #{$important};

  &::before,
  &::after {
    content:                  '';

    //
    z-index:                 -1;
    top:                      80%;
    right:                    auto;
    bottom:                  .95em;
    left:                    .6em;
    position:                 absolute;

    //
    width:                    50%;
    max-width:                25em;
    transform:                rotate(-3deg);

    //
    background:               rgba($black-color, 0.35);
    box-shadow:               0 0.95em 0.6em rgba($black-color, 0.35);
  }

  &::after {
    right:                   .6em;
    left:                     auto;
    transform:                rotate(3deg);
  }
}

@mixin box-shadow-top-bottom($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  position:                   relative #{$important};
  box-shadow:                 0 0.05em 0.15em rgba($black-color, 0.5) #{$important};

  &::before {
    content:                  '';

    //
    z-index:                 -1;
    top:                      50%;
    right:                   .6em;
    bottom:                   0;
    left:                    .6em;
    position:                 absolute;

    //
    border-radius:            10em;
    box-shadow:               0 0 1.25em rgba($black-color, 0.5);
  }

  &::after {
    content:                  '';

    //
    z-index:                 -1;
    top:                      0;
    right:                   .6em;
    bottom:                   50%;
    left:                    .6em;
    position:                 absolute;

    //
    border-radius:            10em;
    box-shadow:               0 0 0.5em rgba($black-color, 0.5);
  }
}

@mixin box-shadow-left-right($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  position:                   relative #{$important};
  box-shadow:                 0 0.05em 0.15em rgba($black-color, 0.5) #{$important};

  &::before,
  &::after {
    content:                  '';

    //
    z-index:                 -1;
    top:                     .6em;
    right:                    0;
    bottom:                  .6em;
    left:                     0;
    position:                 absolute;

    //
    border-radius:            2em;
    box-shadow:               0 0 1.25em rgba($black-color, 0.5);
  }

  &::after {
    right:                   .6em;
    left:                     auto;
    transform:                skew(8deg) rotate(3deg);
  }
}
