/*
 * Text shadow tools.
 */
@mixin filter-shadow-bottom-normal($_important: false) {
  $important: '';

  @if $_important {
    $important: ' !important';
  }

  filter:                     drop-shadow(0 1px 1px transparentize($black-color, 0.5)) #{$important};
}

@mixin filter-shadow-bottom-heavy($_important: false) {
  $important: '';

  @if $_important {
    $important: ' !important';
  }

  filter:                     drop-shadow(0 2px 1px transparentize($black-color, 0.25)) #{$important};
}
