// Main families.

@mixin serif-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($serif-font-smoothing);

  font-family:                $serif-font-family #{$important};
  word-spacing:               $serif-font-word-spacing #{$important};
  letter-spacing:             $serif-font-letter-spacing #{$important};
}

@mixin sans-serif-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($sans-serif-font-smoothing);

  font-family:                $sans-serif-font-family #{$important};
  word-spacing:               $sans-serif-font-word-spacing #{$important};
  letter-spacing:             $sans-serif-font-letter-spacing #{$important};
}

@mixin monospace-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($monospace-font-smoothing);

  font-family:                $monospace-font-family #{$important};
  word-spacing:               $monospace-font-word-spacing #{$important};
  letter-spacing:             $monospace-font-letter-spacing #{$important};
}

// Alternatives.

@mixin alt1-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($alt1-font-smoothing);

  font-family:                $alt1-font-family #{$important};
  word-spacing:               $alt1-font-word-spacing #{$important};
  letter-spacing:             $alt1-font-letter-spacing #{$important};
}

@mixin alt2-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($alt2-font-smoothing);

  font-family:                $alt2-font-family #{$important};
  word-spacing:               $alt2-font-word-spacing #{$important};
  letter-spacing:             $alt2-font-letter-spacing #{$important};
}

@mixin alt3-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($alt3-font-smoothing);

  font-family:                $alt3-font-family #{$important};
  word-spacing:               $alt3-font-word-spacing #{$important};
  letter-spacing:             $alt3-font-letter-spacing #{$important};
}

@mixin alt4-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($alt4-font-smoothing);

  font-family:                $alt4-font-family #{$important};
  word-spacing:               $alt4-font-word-spacing #{$important};
  letter-spacing:             $alt4-font-letter-spacing #{$important};
}

// Body font families.

@mixin body-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($body-font-smoothing);

  font-family:                $body-font-family #{$important};
  word-spacing:               $body-font-word-spacing #{$important};
  letter-spacing:             $body-font-letter-spacing #{$important};
}

@mixin body-hx-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($body-hx-font-smoothing);

  font-family:                $body-hx-font-family #{$important};
  word-spacing:               $body-hx-font-word-spacing #{$important};
  letter-spacing:             $body-hx-font-letter-spacing #{$important};
}

@mixin body-h1-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($body-h1-font-smoothing);

  font-family:                $body-h1-font-family #{$important};
  word-spacing:               $body-h1-font-word-spacing #{$important};
  letter-spacing:             $body-h1-font-letter-spacing #{$important};
}

@mixin body-h2-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($body-h2-font-smoothing);

  font-family:                $body-h2-font-family #{$important};
  word-spacing:               $body-h2-font-word-spacing #{$important};
  letter-spacing:             $body-h2-font-letter-spacing #{$important};
}

// Content font families.

@mixin content-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($content-font-smoothing);

  font-family:                $content-font-family #{$important};
  word-spacing:               $content-font-word-spacing #{$important};
  letter-spacing:             $content-font-letter-spacing #{$important};
}

@mixin content-hx-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($content-hx-font-smoothing);

  font-family:                $content-hx-font-family #{$important};
  word-spacing:               $content-hx-font-word-spacing #{$important};
  letter-spacing:             $content-hx-font-letter-spacing #{$important};
}

@mixin content-h1-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($content-h1-font-smoothing);

  font-family:                $content-h1-font-family #{$important};
  word-spacing:               $content-h1-font-word-spacing #{$important};
  letter-spacing:             $content-h1-font-letter-spacing #{$important};
}

@mixin content-h2-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($content-h2-font-smoothing);

  font-family:                $content-h2-font-family #{$important};
  word-spacing:               $content-h2-font-word-spacing #{$important};
  letter-spacing:             $content-h2-font-letter-spacing #{$important};
}

@mixin content-lede-font-family($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  @include font-smoothing($content-lede-font-smoothing);

  font-family:                $content-lede-font-family #{$important};
  word-spacing:               $content-lede-font-word-spacing #{$important};
  letter-spacing:             $content-lede-font-letter-spacing #{$important};
}

// Body font weights.

@mixin body-hx-font-weight($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  font-weight:                $body-hx-font-weight #{$important};
}

@mixin body-h1-font-weight($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  font-weight:                $body-h1-font-weight #{$important};
}

@mixin body-h2-font-weight($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  font-weight:                $body-h2-font-weight #{$important};
}

// Content line heights.

@mixin content-hx-font-weight($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  font-weight:                $content-hx-font-weight #{$important};
}

@mixin content-h1-font-weight($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  font-weight:                $content-h1-font-weight #{$important};
}

@mixin content-h2-font-weight($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  font-weight:                $content-h2-font-weight #{$important};
}

// Smoothing.

@mixin font-smoothing($smoothing: antialiased, $important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  $moz-smoothing: $smoothing;
  $webkit-smoothing: $smoothing;

  @if $smoothing == antialiased {
    $moz-smoothing: grayscale;
  }

  @if $smoothing == auto {
    $webkit-smoothing: subpixel-antialiased;
  }

  -moz-osx-font-smoothing:    $moz-smoothing #{$important};
  -webkit-font-smoothing:     $webkit-smoothing #{$important};
}
