// Line clamps.

@mixin line-clamp($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  white-space:                nowrap #{$important};
  overflow:                   hidden #{$important};
  text-overflow:              ellipsis #{$important};

  //
  line-height:                normal #{$important};
  max-width:                  100% #{$important};
}

@mixin inline-clamp($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  // Inline clamp w/ a specific max-width.
  // Max width set via `#max-w:[x]`.

  white-space:                nowrap #{$important};
  overflow:                   hidden #{$important};
  text-overflow:              ellipsis #{$important};

  //
  line-height:                normal #{$important};
  vertical-align:             middle #{$important};
  display:                    inline-block #{$important};
}
