/*
 * Position utils.
 */
@mixin position-offscreen {
  top:                       -99999px !important;
  left:                      -99999px !important;
  position:                   fixed !important;

  //
  width:                      1px !important;
  height:                     1px !important;
  overflow:                   hidden !important;
}
