// `class='!@'` = No media queries.

@mixin mobile {
  @media screen and (max-width: 767px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin lte-tablet {
  @media screen and (max-width: 991px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin gte-tablet {
  @media screen and (min-width: 768px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin lte-notebook {
  @media screen and (max-width: 1199px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin notebook {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin gte-notebook {
  @media screen and (min-width: 992px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @at-root :not(.\!\@) #{&} {
      @content;
    }
  }
}

@mixin device($device) {
  @if $device == 'mobile' {
    @include mobile {
      @content;
    }
  }
  @else if $device == 'lte-tablet' {
    @include lte-tablet {
      @content;
    }
  }
  @else if $device == 'tablet' {
    @include tablet {
      @content;
    }
  }
  @else if $device == 'gte-tablet' {
    @include gte-tablet {
      @content;
    }
  }
  @else if $device == 'lte-notebook' {
    @include lte-notebook {
      @content;
    }
  }
  @else if $device == 'notebook' {
    @include notebook {
      @content;
    }
  }
  @else if $device == 'gte-notebook' {
    @include gte-notebook {
      @content;
    }
  }
  @else if $device == 'desktop' {
    @include desktop {
      @content;
    }
  }
}
