// Glow.

@mixin -shadow-glow($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  filter:                     drop-shadow(0 0 0.315em rgba($black-color, 0.15)) #{$important};
}

@mixin shadow-glow($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  filter:                     drop-shadow(0 0 0.063em rgba($black-color, 0.25)) #{$important};
}

@mixin \+shadow-glow($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  filter:                     drop-shadow(0 0 0.063em rgba($black-color, 0.5)) #{$important};
}

// Other shadows.

@mixin -shadow-bottom($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  filter:                     drop-shadow(0 0.315em 0.315em rgba($black-color, 0.15)) #{$important};
}

@mixin shadow-bottom($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  filter:                     drop-shadow(0 0.063em 0.063em rgba($black-color, 0.25)) #{$important};
}

@mixin \+shadow-bottom($important: false) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  filter:                     drop-shadow(0 0.125em 0.063em rgba($black-color, 0.5)) #{$important};
}
