@mixin -text-shadow($important: false, $color: $black-color) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  text-shadow:                0 0.2px 0.4px rgba($color, 0.15) #{$important};
}

@mixin text-shadow($important: false, $color: $black-color) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  text-shadow:                0 0.4px 0.4px rgba($color, 0.25) #{$important};
}

@mixin \+text-shadow($important: false, $color: $black-color) {
  @if $important {
    $important: '!important';
  }
  @else {
    $important: '';
  }

  text-shadow:                0 0.8px 0.4px rgba($color, 0.5) #{$important};
}
