%hash-display-block {
  display:                    block;
}

%hash-display-inline-block {
  display:                    inline-block;
}

%hash-display-inline-block-middle {
  vertical-align:             middle;
  display:                    inline-block;
}

%hash-display-inline {
  display:                    inline;
}

%hash-display-inline-baseline {
  display:                    inline;
  vertical-align:             baseline;
}

%hash-display-none {
  display:                    none;
}
