// Block styles.

%hash-block-margins {
  @extend                     %hash-display-block;
  @extend                     %hash-block-margins-first-last-child;

  margin:                     1rem 0;
}

%hash-block-margins-padding {
  @extend                     %hash-display-block;
  @extend                     %hash-block-margins-padding-first-last-child;

  padding:                    1em;
}

// Block style helpers.

%hash-block-margins-first-last-child {
  &:first-child {
    margin-top:               0;
  }

  &:last-child {
    margin-bottom:            0;
  }
}

%hash-block-margins-padding-first-last-child {
  &:first-child {
    margin-top:               0;
    padding-top:              0;
  }

  &:last-child {
    margin-bottom:            0;
    padding-bottom:           0;
  }
}

// Misc. margins.

%hash-0-margin {
  margin:                     0;
}
