%hash-inline-mark-defaults {
  @extend                     %hash-0-line-height;
  @extend                     %hash-white-space-nowrap;
  @extend                     %hash-display-inline-block;
  @extend                     %hash-default-border-props;

  margin:                     0 .15em;
  padding:                    calc(1ex + .1em) 0.4em;

  //
  font-size:                 .833em;
  text-decoration:            inherit;
}

%hash-inline-unmark-defaults {
  @extend                     %hash-0-margin;
  @extend                     %hash-0-padding;
  @extend                     %hash-0-border-width;
  @extend                     %hash-0-border-radius;
  @extend                     %hash-white-space-normal;
  @extend                     %hash-display-inline-baseline;

  line-height:                inherit;

  //
  background:                 none;
  color:                      inherit;

  //
  text-shadow:                inherit;
  box-shadow:                 none;
}

%hash-inline-unmark-code {
  @extend                     %hash-inline-unmark-defaults;

  font-size:                 .889em;
}
