%hash-opacity-0 {
  opacity:                    0;
}

%hash-opacity-25 {
  opacity:                   .25;
}

%hash-opacity-5 {
  opacity:                   .5;
}

%hash-opacity-75 {
  opacity:                   .75;
}

%hash-opacity-1 {
  opacity:                    1;
}
