/*
 * Fancy HR tags.
 */
@mixin fancy-horizontal-rules {
  hr {
    border:                   0;
    height:                   0;
    background:               none;
    border-top:               1px solid transparentize($shark-color, 0.85);
    border-bottom:            1px solid transparentize($white-color, 0.9);

    //
    margin:                   1rem 0;
  }
}
