/*
 * Fancy checkboxes.
 */
@mixin fancy-checkboxes {
  .ui.toggle.checkbox {
    > input {
      &:active,
      &:focus {
        ~ label {
          color:              transparentize($black-color, 0.6);
        }
      }
    }

    > label {
      color:                  transparentize($black-color, 0.6);

      &::before {
        background:           transparentize($black-color, 0.9);
      }

      &::after {
        border:               1px solid transparentize($black-color, 0.85);
      }
    }
  }
}
