/*
 * Highlight.js <pre><code>.
 */
@mixin hljs-pre-code {
  .hljs-pre {
    display:                  block;
    white-space:              normal;

    //
    max-height:               none;
    overflow:                 visible;

    //
    padding:                  0;

    //
    background:               none;

    //
    text-shadow:              none;
    box-shadow:               none;

    //
    border:                   0;
    border-radius:            0;

    > .hljs {
      display:                block;
      white-space:            pre;

      //
      margin:                 0;
      padding:                1em;

      //
      max-height:             50vh;
      overflow:               auto;

      //
      font-size:              1em;
      line-height:            1.3;
      font-family:            $monospace-font-family;

      // color:                  ;
      // background:             ;
      // Set by Highlight.js theme.

      //
      text-shadow:            none;
      box-shadow:             none;

      //
      border:                 0;
      border-radius:         .25em;
    }
  }
}
