@mixin hljs-pre-code {
  .hljs-pre {
    white-space:              normal;
    position:                 relative;

    //
    padding:                  0;

    //
    border:                   0;
    border-radius:            0;

    //
    background:               none;

    //
    text-shadow:              none;
    box-shadow:               none;

    //
    max-height:               none;
    overflow:                 visible;

    > .hljs {
      white-space:            pre;
      display:                block;
      vertical-align:         baseline;

      //
      margin:                 0;
      padding:                1em;

      //
      max-height:             500px;
      overflow:               auto;

      //
      font-size:              1em;
      line-height:            1.2;
      text-decoration:        none;
      font-family:            $mono;

      //
      text-shadow:            none;
      box-shadow:             none;

      //
      border:                 0;
      border-radius:         .25em;
    }
  }
}
