// Named colors.

@import 'named';

// Basic color scheme.

$bg-color: $white-color !default;
$fg-color: $cod-gray-color !default;

$link-color: lighten($denim-color, 15%) !default;
$link-hover-color: $denim-color !default;

$default-color: darken($bg-color, 2%) !default;
$primary-color: $san-marino-color !default;
$secondary-color: $comet-color !default;
$neutral-color: $leather-color !default;
$accent-color: $tuscany-color !default;

// Swatch settings.

$desaturate-swatch-by: 0% !default;

@import 'swatch';
