/*
 * Semantic colors.
 */
$sm-link-color: #4183c4 !default;
$sm-link-hover-color: #1e70bf !default;

$sm-inverted-color: #fff !default;
$sm-inverted-bg-color: #151515 !default;

/*
 * Fancy blockquotes.
 */
$blockquote-bg-color: #f9f9f9 !default;
$blockquote-border-color: #ccc !default;
$blockquote-quote-color: #ccc !default;

/*
 * Fancy monospace tags.
 */
$pre-bg-color: #f8f8f8 !default;

$code-color: #0f0f0f !default;
$code-bg-color: #f9f9f9 !default;
$code-border-color: #ececec !default;
$code-text-shadow-color: #fff !default;

$kbd-color: #666 !default;
$kbd-bg-color: #fff !default;
$kbd-box-shadow-color1: rgba(0, 0, 0, 0.75) !default;
$kbd-box-shadow-color2: #fff !default;

/*
 * Named colors.
 */
@import 'named';
