// Line height.

$em-base: 16px !default;
$line-height: 1.4285 !default;

// Font variables.

$system: -apple-system, system-ui, BlinkMacSystemFont, sans-serif !default;
$georgia: 'georgia', 'cambria', 'times new roman', 'times', serif !default;
$helvetica: 'helvetica neue', 'helvetica', 'roboto', 'arial', sans-serif !default;
$lucida-grande: 'lucida grande', 'tahoma', 'verdana', 'arial', sans-serif !default;
$monospace: 'monaco', 'menlo', 'consolas', monospace !default;
$verdana: 'verdana', 'geneva', sans-serif !default;

// Font families.

@import 'serif';
@import 'sans-serif';
@import 'monospace';

//
@import 'alt1';
@import 'alt2';

//
@import 'body';
@import 'body-hx';
@import 'body-h1';
@import 'body-h2';

//
@import 'content';
@import 'content-hx';
@import 'content-h1';
@import 'content-h2';
@import 'content-lede';
