$body-hx-font-weight: 700 !default;
$body-hx-font-letter-spacing: $body-font-letter-spacing !default;
$body-hx-font-family: $body-font-family !default;
$body-hx-font-faces: $body-font-faces !default;
