$body-hx-font-weight: 700 !default;
$body-hx-font-smoothing: $alt3-font-smoothing !default;
$body-hx-font-word-spacing: $alt3-font-word-spacing !default;
$body-hx-font-letter-spacing: $alt3-font-letter-spacing !default;
$body-hx-font-family: $alt3-font-family !default;
$body-hx-font-faces: $alt3-font-faces !default;
