$body-h2-font-weight: 400 !default;
$body-h2-font-letter-spacing: $alt2-font-letter-spacing !default;
$body-h2-font-family: $alt2-font-family !default;
$body-h2-font-faces: $alt2-font-faces !default;
