$content-font-smoothing: $sans-serif-font-smoothing !default;
$content-font-word-spacing: $sans-serif-font-word-spacing !default;
$content-font-letter-spacing: $sans-serif-font-letter-spacing !default;
$content-font-family: $sans-serif-font-family !default;
$content-font-faces: $sans-serif-font-faces !default;
