$content-h2-font-weight: 700 !default;
$content-h2-font-smoothing: $alt2-font-smoothing !default;
$content-h2-font-word-spacing: $alt2-font-word-spacing !default;
$content-h2-font-letter-spacing: $alt2-font-letter-spacing !default;
$content-h2-font-family: $alt2-font-family !default;
$content-h2-font-faces: $alt2-font-faces !default;
