$content-lede-font-smoothing: $content-font-smoothing !default;
$content-lede-font-word-spacing: $content-font-word-spacing !default;
$content-lede-font-letter-spacing: $content-font-letter-spacing !default;
$content-lede-font-family: $content-font-family !default;
$content-lede-font-faces: $content-font-faces !default;
