$content-h1-font-weight: 700 !default;
$content-h1-font-letter-spacing: $alt2-font-letter-spacing !default;
$content-h1-font-family: $alt2-font-family !default;
$content-h1-font-faces: $alt2-font-faces !default;
