$content-h1-font-weight: 900 !default;
$content-h1-font-smoothing: $alt1-font-smoothing !default;
$content-h1-font-word-spacing: $alt1-font-word-spacing !default;
$content-h1-font-letter-spacing: $alt1-font-letter-spacing !default;
$content-h1-font-family: $alt1-font-family !default;
$content-h1-font-faces: $alt1-font-faces !default;
