$content-h1-font-size: 3.157em !default;
$content-h1-line-height: 1 !default;

$content-h1-font-weight: 700 !default;
$content-h1-font-weight-enforce: false !default;

$content-h1-font-letter-spacing: $serif-font-letter-spacing !default;
$content-h1-font-family: $serif-font-family !default;
$content-h1-font-faces: $serif-font-faces !default;
