$monospace-font-smoothing: auto !default;
$monospace-font-word-spacing: normal !default;
$monospace-font-letter-spacing: normal !default;
$monospace-font-family: 'roboto mono', 'monaco', monospace !default;
$monospace-font-faces: (
  'import': '//fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400,400i,500,500i,700,700i',
  'family': 'roboto mono',
  'base-url': '',

  'thin': (
    'sub-path': '',
    'italic-sub-path': '',
  ),
  'light': (
    'sub-path': '300',
    'italic-sub-path': '300i',
  ),
  'normal': (
    'sub-path': '400',
    'italic-sub-path': '400i',
  ),
  'medium': (
    'sub-path': '500',
    'italic-sub-path': '500i',
  ),
  'bold': (
    'sub-path': '700',
    'italic-sub-path': '700i',
  ),
  'thick': (
    'sub-path': '',
    'italic-sub-path': '',
  ),
) !default;
